.postsWrapper {
  padding: 3rem 0 0 0;
}
.postCard {
  width: 100%;
  max-width: 100%;
  height: fit-content fit-content;
  margin: 5rem 0;
}
.section {
  margin: 0;
  background: #000;
}
.section:nth-child(2) {
  padding: 0 1.5rem;
}
.postCard img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  display: none;
}
.postDetails div {
  font-size: 1.5rem;
}
.postDetails {
  display: flex;
  padding: 2rem 0;
}
.postDetails div:nth-child(2) {
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.postTitle {
  font-size: 2.5rem;
  margin: 0 0 2rem 0;
}
.headLine,
.readMore a {
  font-size: 1.5rem;
}
.readMore {
  padding: 1.5rem 0 3rem 0;
}

/* post 
.postWrapper .postDetails {
  padding: 5rem 0 0 0;
  margin: 0;
}
.postWrapper .postTitle {
  color: inherit;
  margin: 2rem 0 3rem 0;
  padding: 0;
}
.postWrapper .content p {
  margin: 0 0 3rem 0;
} */

@media (min-width: 768px) {
  .postsWrapper {
    padding: 5rem 0 0 0;
  }
  .section:nth-child(2) {
    padding: 4rem 3rem;
  }
  .postCard {
    margin: 7rem 0;
  }
  .postDetails div {
    font-size: 2rem;
  }
  .postTitle {
    font-size: 5rem;
    margin: 0 0 4rem 0;
  }
  .headLine,
  .readMore a {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .postCard {
    display: flex;
  }
  .postCard .section {
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none !important;
    padding: 0;
  }
  .postCard img {
    display: block;
  }
  .postDetails,
  .postTitle,
  .headLine,
  .readMore {
    background: #000;
    margin: 0;
    padding: 0 2rem;
  }
  .postDetails,
  .headLine {
    padding: 2rem;
  }
  .readMore {
    padding: 0 2rem 3rem 2rem;
  }

  /* .postCard {
    display: flex;
  }
  .postCard .section {
    width: 50%;
    max-width: 50%;
    background: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .postDetails,
  .postTitle,
  .headLine,
  .readMore {
    background: #000;
    max-width: 100%;
    margin: 0;
    padding: 0 2rem;
  }
  .postDetails {
    padding: 2rem 0 0 2rem;
  } */
}
